
.App {
  padding: 0px 100px;
}

body {
  background-color: #697689;
}


.searchForm input {
  border: 2px solid rgb(39, 42, 64);
  background-color: #cccce0;
  padding: 10px;
  margin-right: 2px;
  font-size: 18px;
  border-radius: 10px;
}

.searchForm button {
  background-color: rgb(39, 42, 64);
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  height: 50px;
}

.search-container {
  animation: fadein 6s;
}

.products-container {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  animation: slidein 4.5s ease-in-out;
}

.prodList {
  margin: 1em 1em 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em ;

}

.product {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  padding: 25px;
  background-color: rgb(254, 250, 250);
  position: relative;
}

.product:nth-child(odd) {
  background-color: rgb(247, 247, 247);;
}

.product a {
  text-decoration: none;
  background-color:rgba(29, 29, 220, .8);
  color:rgb(247, 247, 247);
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.product a:hover {
  background-color:rgb(29, 29, 220);
}

.product .title {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 800;
  display: flex;
  align-items: flex-start;
}

.product .title img {
  margin-right: 20px;
}

.product ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  padding: 0;
}

.product li {
  margin: 5px 5px 0 0;
  padding: 5px;
  background-color: rgb(29, 29, 220, 0.7);
  color: #fff; 
}

.product-info {
  animation: fadein;
  animation-duration: 3.5s;
}

.product-pic {
  animation: fadein 3.5s;
}

h1 {
  text-align: center;
  animation: fadein 4s ease-in;
  font-size: 3.05em;
}

h2 {
  font-size: 2.2em;
}

.cart-item-product{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.total-text {
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  font-size: 1.5em;
}

.order-item{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

/* @keyframes slidein {
  from {
    opacity: 0.2;
    margin-top: 50%;
    width: 100%;
  }

  to {
    opacity: 1;
    margin-top: 0.5%;
    width: 100%;
  }
} */

@keyframes fadein {
  from {
    opacity: 0;
  } 

  to {
    opacity: 1;
  }
}
